/target
.DS_Store
*.lock
!Cargo.lock
/frontend/node_modules
/frontend/packages/shell/node_modules
/frontend/packages/*/dist
/frontend/coverage
*.tsbuildinfo
/frontend/packages/ssr/node_modules

/.local-tools/

__pycache__/
