[Unit]
Description=rumahl OS app runtime supervisor
Documentation=file:/usr/share/doc/rumahl/platform-buildroot.md
Wants=docker.service
After=docker.service
StartLimitIntervalSec=60
StartLimitBurst=10

[Service]
Type=simple
User=rumahl-runtime
Group=rumahl-runtime-control
SupplementaryGroups=docker
RuntimeDirectory=rumahl-runtime-supervisor
RuntimeDirectoryMode=0750
StateDirectory=rumahl-runtime-images
StateDirectoryMode=0700
UMask=0077
ExecStart=/usr/bin/rumahl-runtime-supervisor --docker /usr/bin/docker --runtime-root /run/rumahl-runtime-supervisor --image-root /var/lib/rumahl-runtime-images --network rumahl-apps --instance system --control-socket /run/rumahl-runtime-supervisor/control.sock --secret-socket /run/rumahl-runtime-supervisor/secrets.sock --platform-user rumahl-platform
Restart=always
RestartSec=2s
TimeoutStopSec=15s
NoNewPrivileges=true
CapabilityBoundingSet=
AmbientCapabilities=
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectHome=true
ProtectClock=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictAddressFamilies=AF_UNIX
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
